################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj
/.vs
/Calculator/bin/Debug
/Calculator/obj
/Project16/App.config
/Project16/bin/Debug
/Project16/obj
/ToDoList/bin/Debug
/ToDoList/obj
/Project18/bin/Debug
/Project18/obj
