<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	
<connectionStrings><add name="ProductionProduceDbEntities" connectionString="metadata=res://*/ProductionProduceDbContext.csdl|res://*/ProductionProduceDbContext.ssdl|res://*/ProductionProduceDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FSP34A1\SQLEXPRESS;initial catalog=ProductionProduceDb;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>